// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";



@-webkit-keyframes animationFrames {
    0%, 40%, 70%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    55% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    90% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes animationFrames {
    0%, 40%, 70%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    55% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    90% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}
html {
    scroll-behavior: smooth;
}
.admin-brand{
    padding: 10%;
    border-bottom: 1px solid #fcc800;
}
.admin-navbar-brand{
    padding: 0;
    display: block;
    width: 220px;
    height: 53px;
    background: transparent url(/img/logo.png) no-repeat scroll 0 0/78%;
}
.mobile-contact{
    border: 2px solid #fcc800;
    color: #fcc800;
    width: auto !important;
}
.bg{
    background: linear-gradient(rgba(0,0,0,.69),rgba(0,0,0,.4)),url(/img/background.jpg);
    background-position: center;
}

.action-button {
    min-width: 70px;
}

.subpage-btn {
    padding: 0 5px 0 7px;
    color: #ffc800;

    &:focus, &:active {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.color-black {
    color: #ffc800!important;
    font-size: 13pt;

    &:hover {
        text-decoration: underline;
        transition: 0.4s;
    }
}

.admin-menu {
    background: #14202b;
    border: 1px solid #fcc800;
    box-shadow: 0px 0px 1px #fcc800;
    padding: 0;
}
.check{
    font-size: 25pt;
    color: green;
}
.navbar {
    max-width: 1175px;
    margin: 0 auto;
    border-bottom: 1px solid #63666f;
    box-shadow: none;
    background: transparent !important;
}
.nav-center{
    margin-top: 5px;
}
.nav-item-language a{
    border: 1px solid #fcc800;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-list{
    justify-content: flex-end;
}
.navbar-brand{
    padding: 0;
    display: block;
    width: 220px;
    height: 53px;
    background: transparent url(/img/y-job_4.png) no-repeat scroll 0 0/70%;
}
.navbar-nav{
    align-items: baseline;
}
img{
    max-width: 100%;
    height: auto;
}
.scrolled {
    position: fixed;
    top: 0;
    height: fit-content !important;
    z-index: 16;
    width: 100%;
    left: 0;
    background: #ffffff !important;
    padding: 10px 0px 10px 0 !important;
    border-bottom: 1px solid #ccc !important;
    max-width: 100% !important;
    animation: animationFrames linear 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.admin-menu-item {
    font-size: 16pt;
    border-bottom: 1px solid #fcc800;
    text-align: center;
    padding: 10px 0;
}
.admin-menu-item:hover{
    background: #fcc800;
    color: #000000;
    transition: 0.4s;
}
.admin a{
    color: #fcc800;
    &:hover{
        text-decoration: none;
        color: #000000;
        transition: 0.4s;
    }
}
.admin-menu-item a {
    color: #fcc800;
    font-size: 16pt;

    &:hover {
        color: #000000;
        text-decoration: none;
        transition: 0.4s;
    }
}
.article-inner-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.back{
    font-size: 20px;
    color: black;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color: #fcc800;
        transition: 0.4s;
    }
}
.post {
    padding: 30px 20px;
    border: 1px solid #fcc800;
    box-shadow: 0px 0px 6px #fcc800;
    background: white;
}
.success-alert{
    text-align: center;
    color: #1d6f1c;
    background-color: #4bff0080;
    border-color: #33ff00;
    //box-shadow: 0px 0px 4px lime;
}
#contact-btn {
    border-radius: 35px;
    width: 100%;
}

.contact-btn {
    border-radius: 35px;
    min-width: 100px;
}

.modal-header,
.modal-footer {
    border: none;
    justify-content: center;
}
.form-number{
    font-size: 25pt;
}
.modal-content{
    text-align: center;
}
.form-wrap-item{
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #a9a9a9!important;
    outline: 0;
    &:focus,
    &:active{
        border-bottom: 2px solid #ffc800 !important;
        transition: 0.4s;
        box-shadow: none;
    }
}

.inner {
    border: 2px solid lightgray;
    box-shadow: 0px 0px 5px darkgrey;
}

#scrolled-nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    transition: height .5s, line-height .5s;
    -webkit-transition: height .5s, line-height .5s;
    -moz-transition: height .5s, line-height .5s;
    right: 0;
    left: 0;
}

.warning {
    color: red;
}

.admin-table {
    font-size: 12pt;
}

.subpage-table {
    padding: 0 0 0 20px;
}

.table {
    border: 1px solid #a9a9a978;
    background: #ffffff;
}

.table th, .table td {
    border-top: 1px solid #a9a9a978;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #ffc800!important;
    font-size: 13pt;
    padding: 8px 0;

    &:hover {
        color: black;
        text-decoration: underline;
        transition: 0.4s;
    }
    i{
        font-size: 16px;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.fade{
    transition: 0.3s;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
//.dropdown:hover .dropbtn {background-color: #3e8e41;}

.green-btn{
    background: #9dcd0a none repeat scroll 0 0;
    border-radius: 35px;
    color: #fff!important;
    padding: 10px 25px!important;
    border: none;
}
.lh {
    line-height: 5;
}

.section-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20pt;
}

.category-image {
    text-align: center;
    width: 98%;
    margin-top: 15%;
    transition: 0.4s;
}
.category-image:hover{
    width: 99%;
    transition: 0.4s;
}
.category-button{
    background: transparent;
    color: #ffd400;
    border: 2px solid #ffd400;
    border-radius: 30px;
    min-width: 85%;
    height: 40px;
    font-weight: 600;
    &:hover{
        box-shadow: 0px 0px 5px #ffd400;
        transition: 0.4s;
    }
}
.category-block {
    min-height: 315px;
    cursor: pointer;
}
//.category-hover{
//  max-width: 100%;
//}
.category-hover:hover{
    .category-title{
        color: #ffd400;
        text-shadow: 0px 0px 3px #ffd400;
        transition: 0.4s;
    }
}
.section-item{
    display: flex;
    align-items: center;
    color: #ffffff;
    min-height: 640px;
    border-bottom: 3px solid #ffc800;
    background: linear-gradient(rgba(0,0,0,.69),rgba(0,0,0,.4)),url(/img/section-1-bg.jpg);
    background-size: cover;
    padding-top: 100px;
}
.first-title{
    font-size: 3.25rem;
    font-weight: 900;
    color: #fcc800;
    border-bottom: 3px solid #fcc800;
}
.carousel-caption{
    bottom: 30%;
    top: 20%;
    left: 0;
    right: 0;
    width: 100%;
}
.carousel-caption-item{
    top: 28% !important;
}
.taxi{
    background-image: url(https://mbpartners.pl/wp-content/uploads/2019/12/Projekt-bez-tytułu-Niestandardowe-wymiary.jpeg);
    height: 337px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.deliveryman{
    background-image: url(https://mbpartners.pl/wp-content/uploads/2019/12/Obraz3-1.jpg);
    height: 337px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.courier{
    background-image: url(https://mbpartners.pl/wp-content/uploads/2019/12/03.png);
    height: 337px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-image{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(76, 76, 76, 0.05) 0%, rgba(89, 89, 89, 0.05) 0%, rgba(17, 17, 17, 0.4) 100%);
    background-size: cover;
    background-position: center;
    &:hover{
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out 0.1s;
    }
}
.category-header{
    padding: 48px;
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    color: #ffffff;
    text-align: left;
    a {
        color: #ffffff;
        &:hover{
            text-decoration: none;
        }
    }
}
.post-title{
    a {
        font-size: 37.4px;
        color: #ffffff;
        &:hover{
            text-decoration: none;
        }
    }
}
.section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.69),
        rgba(0, 0, 0, 0.4)),
    url(/img/sectionBG.jpg);
    background-size: cover;
    color: #b9b9b9;
    padding-top: 100px;
    border-bottom: 3px solid #ffc800;
}
.owl-next{
    padding: 32px 32px !important;
    background: url('/img/right.png') !important;
    background-size: 45px !important;
    background-repeat: no-repeat !important;
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 75px !important;
    right: -47px;

}
.owl-prev{
    padding: 32px 32px !important;
    background: url('/img/left.png') !important;
    background-size: 45px !important;
    background-repeat: no-repeat !important;
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 75px !important;
    left: -33px;

}
.experience {
    font-size: 17pt;
    font-weight: 500;
    color: #ffffff;
}

.main-title {
    font-weight: 500;
    color: #ffffff;
    margin-top: 35px;
}

.choose-auto {
    font-size: 20pt;
    font-weight: 500;
    color: #ffffff;
}

.category-title {
    color: #ffffff;
    font-size: 14pt;
    font-weight: 500;
}
.section-2 {
    text-align: center;
    font-size: 18pt;
    padding: 35px 0;
    color: #6b6b6b3d;
    border-bottom: 3px solid #ffc800;
    font-weight: 600;
    background: #081525;
    box-shadow: 0px 4px 8px -3px black;
}
.section-2-item-title{
    color: #ffc800;
}
.section-2-item {
    margin-left: 14px;
    color: #ffc800;
}
.section-3 {
    margin-top: 35px;
}

ul {
    list-style-type: none;
}

.advantages-title {
    font-size: 11pt;
    font-weight: 600;
}

.advantages-description {
    font-size: 11pt;
    line-height: 20px;
}
.advantages-first li:nth-child(2):before,
.advantages-second li:nth-child(2):before{
    content: "";
    height: 16px;
    width: 1px;
    border: 1px solid black;
    position: absolute;
    top: -18px;
    left: 47%;
}
.advantages-first li:nth-child(2):after{
    content: "";
    height: 1px;
    width: 50px;
    border: 1px solid black;
    position: absolute;
    top: 47%;
    right: -52px;
}
.advantages-first li:nth-child(3):before,
.advantages-second li:nth-child(3):before{
    content: "";
    height: 16px;
    width: 1px;
    border: 1px solid black;
    position: absolute;
    top: -18px;
    left: 47%;
}
.advantages-second li:nth-child(2):after{
    content: "";
    height: 1px;
    width: 50px;
    border: 1px solid black;
    position: absolute;
    top: 47%;
    left: -52px;
}
.advantages-border{
    border: 2px solid #ffc800;
    padding: 0px 9px;
    position: relative;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-3-image{
    margin-top: 50px;
}
.section-4 {
    margin-top: 35px;
}

.review-author {
    margin-top: 10px;
    font-size: 12pt;
    text-transform: uppercase;
}

iframe {
    max-width: 100%;
}

.section-5 {
    background: #1d222b;
    color: #ffffff;
    border-top: 3px solid #ffc800;
    border-bottom: 3px solid #ffc800;
}

.section-5-item {
    padding: 35px 15px;
    background: #1b212d;
}
.navbar_buttons_right a{
    margin-right: 20px;
    color: #ffc800 !important;
    cursor: pointer;
}
.rent-block {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
.condition-category{
    display: flex;
}
.rent-card {
    max-width: 18rem;
    margin: 3px 3%;
    border: 1px solid #ffd400;
    border-radius: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.rent-phone{
    color: #ffffff;
    &:hover{
        text-decoration: none !important;
        color: #ffc800 !important;
        transition: 0.4s;
    }
}
.popular {
    padding-top: 2px;
    font-size: 12pt;
    position: absolute;
    width: 50%;
    height: 30px;
    border: 1px solid #af0000;
    border-radius: 6px;
    background: red;
    font-weight: 900;
    color: black;
    top: -17px;
    right: -20px;
    box-shadow: 0px 0px 3px 1px #9e0000;
}
.disabled-input input{
    background: transparent;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid gold !important;
    outline: none;
}
.request-contact{
    font-size: 20pt;
}
.rent-card:hover {
    box-shadow: 0 0 7px #ffd400;
    transition: 0.4s;
    .popular{
        box-shadow: 0px 0px 5px 2px #d00000;
        transition: 0.4s;
    }
}

.rent-title {
    font-size: 14pt;
    font-weight: 600;
    background: linear-gradient(45deg, #ffd400, orange);
    color: #1d222b;
}

.card-body {
    background: rgb(8, 21, 37);
}

.rent-description {
    text-align: justify;
}

.rent-contact {
    width: 100%;
    font-size: 22pt;
}
.gold-btn {
    border-radius: 35px;
    border: 2px solid #ffc800;
    color: #ffc800 !important;
    font-weight: 700;
    padding: 10px 25px !important;
}
.dich-cat.active{
    display: flex;
}
.dich-cat{
    display: none;
}
.category-button:focus{
    outline: none;
}

.section-8{
    background: #00070e;
    padding: 35px 0;
    color: #fff;
}
.section-8-title{
    font-size: 40pt;
    font-weight: 500;
}
.section-8-subtitle{
    font-size: 22pt;
    font-weight: 400;
    line-height: 60px;
}
.contact-item{
    line-height: 30px;
    font-size: 14pt;
    font-weight: 500;
}
.contact-email a{
    color:gold !important;
}
.contact-email a:hover{
    text-decoration: none;
}
.modal-phone{
    color: black;
    &:hover{
        text-decoration: none;
        color: black;
    }
}
.facebook{
    background-image: url("/img/facebook.svg");
}
.social-icon{
    background-size: contain!important;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: .4rem;
}

.socials{
    text-align: right;
}
.policies{
    font-size: 11pt;
}
.policies a{
    margin-right: 20px;
    color: gold !important;
    cursor: pointer;
}
.error-message{
    margin-top: 3px;
    color: red;
}
.policies a:hover{
    text-decoration: none;
}
.phone{
    margin-top: 30px;
    font-size: 30pt;
    font-weight: 500;
}
.phone a{
    color: #ffffff;
}
.phone a:hover{
    text-decoration:none;
}
.phone-icon{

    background-image: url('/img/phone.svg');
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    padding: 16px 16px;
    background-repeat: round;
}
.messenger{
    display: inline-block;
}
.viber{
    background-image: url('/img/viber.svg');
    padding: 18px 18px;
    margin-left: 10px;
}
.telegram{
    background-image: url('/img/telegram.svg');
    padding: 18px 18px;
}
.whatsapp{
    background-image: url('/img/whatsapp.svg');
    padding: 18px 18px;
}
.fb-mes{
    background-image: url('/img/fb-mes.svg');
    padding: 18px 18px;
}
.icon{
    box-sizing: border-box;
    display: inline-block;
    background-repeat: round;
}
.footer-btn{
    margin-top: 30px;
    border-radius: 30px;
    background: gold;
    color: #000c19;
    font-weight: 900;
    border: 2px solid gold;
    padding: 7px 12px;
    width: 150px !important;
}
.rights{
    font-size: 10pt;
    color: lightgray;
}
.margin-footer{
    margin-top: 35px
}
.img-block{
    margin-top: 35px;
}
.img-block img{
    width: 80%;
    float: right;
    max-height: 350px;
}
.footer-img{
    max-width: 100%;
}
.mobile{
    display: none;
}
.text-item-color{
    color: #777777;
    font-size: 14px;
}
.blog-title{
    text-align: left;
    font-size: 18pt;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
    &:hover a{
        color: #fcc800;
        transition: 0.4s;
    }
}
.outline-none{
    outline: none !important;
    box-shadow: none;
    border: none;
}
.search-bg{
    background: #efefef !important;
}
.search-input{
    width: 100%;
    font-size: 15px;
}
.search-item{
    width: 97%;
}
.for-mobile{
    display: none;
}
.slick-prev:before,
.slick-next:before{
    color: #fcc800 !important;
    font-size: 35px !important;
}
.slick-prev,
.slick-next{
    top: 40% !important;
}
.tag-button{
    color: #000;
    background-color: #ffffff;
    border: 2px solid #d4d4d4;
    font-weight: 800;
    border-radius: 35px;
    padding: 5px 25px;
    font-size: 15px;
    &:hover{
        text-decoration: none;
        background: #000000;
        border: 2px solid #000000;
        transition: 0.4s;
        color: #ffffff;
    }
}
button.active{
    text-decoration: none;
    background: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}
.blog-image{
    height: 260px;
    width: 370px;
    object-fit: cover;
}
.load-more{
    background: #fcc800;
    border-color: transparent;
    border-radius: 45px;
    padding: 5px 40px;
    font-weight: 600;
    font-size: 14px;
}
.section-blog{
    padding-top: 100px;
    padding-bottom: 30px;
}
.category-link:hover{
    text-decoration: none;
}
.flash-message{
    position: absolute;
    min-width: 100%;
    z-index: 22;
    text-align: center;
    justify-content: center;
}
.message-danger{
    color: #ffffff;
    background-color: #96292669;
    border-color: #ff0500;
    font-size: 14pt;
    box-shadow: 0px 0px 6px #d80000;
}
.message-success{
    color: #ffffff;
    background-color: #26f9007a;
    border-color: #62ff00;
    box-shadow: 0px 0px 6px lime;
    font-size: 14pt;
}
.poland{
    background-image: url('/img/poland.svg');
    padding: 18px 18px;
    margin-right: 15px;
}
.russia{
    background-image: url('/img/russia.svg');
    padding: 18px 18px;
    margin-right: 15px;
}
.uk{
    background-image: url('/img/united-kingdom.svg');
    padding: 18px 18px;
    margin-right: 15px;
}
.form-border{
    border: 1px solid darkgray;
    padding: 7px;
    border-radius: 5px;
    background: #00000012;
    font-size: 15pt;
}
.admin-label{
    margin-bottom: 0;
    margin-top: 5px;
}
.section-4 {
    margin-top: 35px;
}

.review-author {
    margin-top: 10px;
    font-size: 12pt;
    text-transform: uppercase;
}

iframe {
    max-width: 100%;
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .section-3-image{
        margin-top: 75px;
    }
    .owl-prev,
    .owl-next{
        position: inherit;
    }
    .advantages-description,
    .advantages-title{
        font-size: 10pt;
        line-height: 16px;
    }
    .advantages-border{
        padding: 0 4px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .rent-block{
        flex-wrap: wrap;
    }
    .condition-category{
        flex-wrap: wrap;
    }
    .advantages-item-order{
        order: 1;
    }
}
@media (max-width: 991px) {
    #global-nav {
        position: absolute;
    }
    .advantages-first li:nth-child(3):before,
    .advantages-second li:nth-child(3):before,
    .advantages-first li:nth-child(2):before,
    .advantages-second li:nth-child(2):before,
    .advantages-first li:nth-child(2):after,
    .advantages-second li:nth-child(2):after{
        display: none;
    }
    .advantages-border{
        border: none;
        height: auto;
    }
    .mobile-footer{
        text-align: center;
    }
    .socials{
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    .advantages-description,
    .advantages-title{
        font-size: 10pt;
        line-height: 16px;
    }
    .advantages-border{
        padding: 0 4px;
    }
    .rent-block{
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .not-mobile{
        display:none;
    }
    .slick-next{
        right: -6px;
    }
    .slick-prev{
        left: -19px;
    }
    .navbar-brand{
        display: inline-block;
    }
    .mob-menu{
        float: right;
        margin-top: 10px;
    }
    #scrolled-nav{
        position: absolute;
    }
    .navbar{
        background: #ffffff !important;
    }
    .navbar-nav{
        align-items: end;
    }
    .nav-link{
        padding: 8px 0;
    }
    .section-8{
        text-align: center;
    }
    .socials{
        text-align: center;
    }
    .btn-group{
        display: block;
    }
    .blog-title{
        text-align: center;
    }
    .description-font{
        text-align: justify;
    }
    .search-item{
        width: 90%;
    }
    .form-btn{
        width: auto;
    }
    .modal-container {
        width: 85% !important;
    }
    .for-mobile {
        display: block;
        margin: 20px auto;
    }

    .menu-icon{
        display: block;
    }
    .lh {
        line-height: 1;
    }
    .category-block{
        min-height: auto;
    }
    .rent-block {
        flex-wrap: wrap;
    }
    .advantages-first {
        padding: 0;
    }
    .advantages-second {
        padding: 0;
    }
    .section-3-image{
        margin-top: 0;
    }
    .advantages-item-order {
        order: 1;
    }
    .advantages-image-order {
        order: 0;
    }
    .condition-category{
        flex-wrap: wrap;
    }
    .owl-prev,
    .owl-next{
        position: inherit;
    }
    .section-6 {
        height: 555px;
    }
    .map {
        display: none;
    }
    .map-button {
        width: 50%;
        text-align: center;
        font-size: 9pt;
    }
    .wrap-contacts {
        width: 96%;
        padding: 20px 5px;
        left: 2%;
        border-radius: 0;
    }
    .wrap-contact-item {
        width: 100%;
    }
    .wrap-contacts li:last-child .wrap-contact-item {
        padding-right: 0;
    }
    .wrap-contacts li:last-child {
        flex-wrap: wrap;
    }
    .not-mobile {
        display: none;
    }
    .nav-list{
        display: block;
    }
    .nav-item-language{
        display: inline-block;
    }
    .language-border{
        padding: 2px 5px !important;
    }

}
@media (max-width: 500px) {
    .wrap-contacts {
        width: 100%;
        left: 0;
        border: 0;
        border-top: 2px solid #ffd400;
    }
}
@media (min-width: 500px) and (max-width: 900px) {
    .map {
        display: block;
    }
    .wrap-contacts {
        width: 57%;
    }
    .wrap-contact-item {
        width: 21%;
    }
    .wrap-contacts li:last-child {
        flex-wrap: nowrap;
    }
    .wrap-contacts li:last-child .wrap-contact-item {
        padding-right: 12%;
    }
}
@media (max-width: 350px) {
    .navbar-brand{
        width: 80%;
    }
    .mob-menu{
        padding: 0;
    }
}
